body {
    background-color: #373739;
    color: white;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
}

#secao1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.tituloSec1 {
    display: flex;
    justify-content: center;
}

#converter-para-f, #converter-para-c {
    padding: 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 94%;
}

.elementos-sec1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.elementos1, .elementos2 {
    align-items: center;
    gap: 10px;
}

#btn-converte-paraC, #btn-converte-paraF {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 89, 255, 0.712);
    color: #fff;
    border-color: rgba(0, 89, 255, 0.712);
    transition: all 0.2s ease-in;
    font-family: 'Courier New', Courier, monospace;
}

#btn-converte-paraC:hover, #btn-converte-paraF:hover  {
    background-color: rgba(0, 21, 255, 0.455);
    transition: all ease-in 2px;
}


/* SEÇÃO 2 */

.tituloSec2 {
    display: flex;
    justify-content: center;
}

#secao2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}

.elementosSec2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.elementos1Sec2, .elementos2Sec2 {
    align-items: center;
    gap: 10px;
}

#btn-converte-paraCM, #btn-converte-paraM {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 89, 255, 0.712);
    color: #fff;
    border-color: rgba(0, 89, 255, 0.712);
    transition: all 0.2s ease-in;
    font-family: 'Courier New', Courier, monospace;
}

#converter-para-cm, #converter-para-m {
    padding: 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 94%;
}

#btn-converte-paraCM:hover, #btn-converte-paraM:hover  {
    background-color: rgba(0, 21, 255, 0.455);
    transition: all ease-in 2px;
}

footer {
    display: flex;
    justify-content: center;
}

/* Resultado  */


